
<nav class="navbar navbar-expand-lg navbar-inverse" style="background-color:black">
  <div class="container-fluid">
   <div class="collapse navbar-collapse" >
       
    

         <ul class="nav navbar-nav">
           <li style="margin-left: 30px" class="active">
               <a  class="nav-link " href="#" style="color:aliceblue;
               font-weight: bold;"><h3>Home</h3></a></li>
           <li style="margin-left: 30px;margin-top:17px">
            
              <button (click)="scroll()" style="color:aliceblue;
              font-weight: bold;"><h3>About us</h3></button>
             
           <li style="margin-left: 30px;margin-top:17px">
              <!-- <a class="nav-link" href="/login" style="color:turquoise;font-family: Georgia, 'Times New Roman', Times, serif;
               font-weight: bold;"><h3>Login</h3></a></li>-->
              <!--<div class="g-signin2 " data-onsuccess="onSignIn" data-theme="dark"></div>-->

              <button  id="googleBtn" style="color:aliceblue;
              font-weight: bold;"><h3>Login</h3></button>
                 
         </ul>
         <h3  style="color:aliceblue;
         margin-left: 300px">FITNESS TRACKER</h3>
       </div>
    
   </div>
 </nav>


 <!--<div class="container" style="margin-top: 10px;float: center;">
<img src="assets/img/splash-2018.jpg" alt="image not found"/>
 </div>-->

 <div class="container" style="margin-top: 20px;float: center;">
 <div class="image" > 
   <div class="container hero">
      
       <div class="splash">
         <h3>a Stronger You in 2019</h3>
         <p style="color: #ffffff!important;">Let Fitness Tracker help you conquer this year. 
            Track workouts, build support, challenge yourself and your friends, all with the help of our expert coaches.</p>
         
         
            <button id="gtn" class="btn btn-primary"> Join Today Using <img src="assets/img/g.jpg" alt="image not found" width="25px"> </button><br>
       </div>   
     </div>
   </div>
</div>
 
    
    
<div class="container" id="scroll" style="display: none">
    
<div class="how-it-work">           
<h3 style="text-align:center">How Does Fitness Tracker Help Me?</h3><br>
  <p style="text-align:center">Get your very own personal trainer that provides<br> everything you need to get in the best shape of your life.</p>
  
  <div class="row">
      <div class="col-sm-6 col-xs-12 detail">
          <div class="card">
              <div class="card-body">

          <h4><span  class="fa-stack fit-cutlery fa-md text-danger" >
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
            </span>Fitness Assessment</h4>
          <p>Your expert coach will take you through an assessment in order to create your personal plan for success. Whether you're a beginner or an experienced athlete, we have a coach for you.</p>
      </div>
    </div>
    </div>
      <div class="col-sm-6 col-xs-12 detail">
            <div class="card">
                    <div class="card-body">
          <h4><span class="fa-stack fit-cutlery fa-md text-success">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
            </span>Nutritional Success</h4>
          <p>You'll get a personalized nutrition plan built specifically for your needs. No more guesswork, no more stress. You'll learn how to eat on your own terms while establishing healthy habits.</p>
      </div>
      </div>
      </div>
  
      <div class="col-sm-6 col-xs-12 detail">
            <div class="card">
                    <div class="card-body">
            <h4><span class="fa-stack fit-futbol-o fa-md text-primary">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-futbol-o fa-stack-1x fa-inverse"></i>
                </span>Workouts</h4>
            <p>We build the workouts for you, you follow them and get results. The Fitness tracker will take you through each expert-built workout, set by set.</p>
        </div>
        </div>
        </div>
        <div class="col-sm-6 col-xs-12 detail">
            <div class="card">
                    <div class="card-body">
            <h4><span class="fa-stack fit-star fa-md text-warning">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>Motivation &amp; Accountability</h4>
            <p>Your coach works with you on a daily basis to keep you motivated and on track. They're your secret weapon to hit any goal, no matter what it is.</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        
   
        </div>
        

  <!-- 
  Old version of how it works which shows 3 steps and a video
  <h3>How it Works</h3>
  <div class="row">
      <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <div class="thumbnail thumbnail-img">
                  <img src="site_media/themes/minimal/images/how-it-works1.png">
              </div>
              <div class="caption">
                  <h3>Pick a Team</h3>
                  <p>Pick a team that matches your goal. Your coach will help lead the way.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <div class="thumbnail thumbnail-img">
                  <img src="site_media/themes/minimal/images/how-it-works2.png">
              </div>
              <div class="caption">
                  <h3>Your Program</h3>
                  <p>Follow your step-by-step program. You’ll know what, how, and when to do it.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <div class="thumbnail thumbnail-img">
                  <img src="site_media/themes/minimal/images/how-it-works3.png">
              </div>
              <div class="caption">
                  <h3>Reach Your Goal</h3>
                  <p>Supportive teammates work together to reach their common goal.</p>
              </div>
          </div>
      </div>
  </div> -->






