<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">Upgrade To Fitness Pro </h4>
                        <p class="category">Looking for more Suggestions? Please check our Premium Version of Fitness Pron</p>
                        <br>
                    </div>
                    <div class="content table-responsive table-full-width table-upgrade">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center">Free</th>
                                    <th class="text-center">PRO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nutrition Suggestion</td>
                                    <td><i class="fa fa-times text-danger"></i></td>
                                    <td><i class="fa fa-check text-success"></i></td>

                                </tr>
                                <tr>
                                    <td>Coach</td>
                                    <td><i class="fa fa-times text-danger"></i></td>
                                    <td><i class="fa fa-check text-success"></i></td>

                                </tr>
                                <tr>
                                    <td>Workout Suggestions</td>
                                    <td><i class="fa fa-times text-danger"></i></td>
                                    <td><i class="fa fa-check text-success"></i></td>

                                </tr>
                                <tr>
                                    <td>Food Calaries Calculation</td>
                                    <td><i class="fa fa-times text-danger"></i></td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td>
                                        <a (click)="payment()" class="btn btn-round btn-fill btn-info">Upgrade to Fitness</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>