<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Payment method</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>HolderName</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                                <div class="row">  
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">CardNumber</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>ExpiryDate</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                            
                                 <div class="col-md-2">
                                    <div class="form-group">
                                        <label>CVV</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <a target="_blank" href="#" class="btn btn-round btn-fill btn-info">Proceed to pay</a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>